body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom right, #8783df, #a891ee); /*background: #f2f4f8;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	color: #fff; /* muda a cor do texto para branco se o fundo for escuro */
}

h1 {
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 50px;
	text-align: center;
	color: #fff;
}

h2 {
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	color: #fff;
}

h3 {
	margin-bottom: 30px;
	font-size: 20px;
	text-align: left;
	color: #fff;
}

#quiz-container,
#top3-container {
	background: white;
	padding: 25px;
	border-radius: 10px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.content {
	display: flex;
	justify-content: center;
	width: 100%;
}

#pergunta {
	font-size: 18px;
	margin-bottom: 20px;
	color: black;
}

#opcoes button {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 12px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	background: #4f46e5;
	color: white;
	cursor: pointer;
	transition: background 0.2s;
}

#opcoes button:hover {
	background: #4338ca;
}

#top3 {
	padding-left: 0;
}

#top3 li {
	list-style: none;
	background: #e5e7eb;
	margin: 8px 0;
	padding: 10px;
	border-radius: 6px;
	font-weight: bold;
}

#avatars-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 600px;
	margin: 0 auto; /* centraliza na página */
	justify-content: center; /* distribui os avatars uniformemente */
}

.avatar {
	border: 2px solid transparent;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	cursor: pointer;
	flex-shrink: 0; /* impede que o avatar encolha */
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* cobre todo o círculo */
	display: block; /* remove espaço extra abaixo da imagem */
}

.avatar.selecionado {
	border-color: #007BFF; /* Azul quando selecionado */
	transform: scale(1.1);
}
